<h1>Insert the form to edit an instance of your model here.</h1>

<form action="/notes" method="post">
  <input type="hidden" name="_method" value="patch">
  
  <label for="subject_name">Subject Name: </label>
  <input type="text" name="note[subject_name]" id="subject_name" value="<%= @note.subject_name %>" />
  <br><br>
  
  <label for="date">Date: </label>
  <input type="text" name="note[date]" id="date" value="<%= @note.date %>" />
  <br><br>

  <label for="note_entry">Notes: </label>
  <br>
  <textarea name="note[note_entry]" cols="80" rows="40" id="note_entry"value="<%= @note.note_entry %>" ></textarea>
  <br><br>
  
  <input type="submit" value="Save" />

</form>