<h2>Signup For School Place Notes</h2>
<br>
<form action="/signup" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username">
  <br><br>
  <laber for="email">Email: </label>
  <input type="email" name="email" id="email">
  <br><br>
  <label for="password">Password: </label>
  <input type="password" name="password" id="password">
  <br>
  <br>
  <input type="submit" name="submit" value="Sign Up">
</form>